.my_label{
    cursor: pointer;
    font-size: 15px;
}

.active_my_tag{
    background-color: #8c8c8c;
}

.inactive_my_tag{
    background-color: #5bc0de;
}

.echart_div{
    width: 350px;
    height: 350px;
    background-color: #1d314a
}

.my_footer{
    padding: 30px 0 10px;
    font-size: 12px;
    text-align: center;
    color: #666;
}
.parkinglot_info_span{
    display: block;
    margin: 10px;
}

.parkinglot_info_item{
    font-size: 20px;
    color: #8c8c8c;
}

.parkinglot_info{
    color: #0f0f0f;
}

.map_div {
    width: 1000px;
    height: 375px;
}

.codition{
    position: fixed;
    left: 300px;
    bottom: 100px;
    background-color: white;
}

.codition li{
    list-style:none;
}

.codition span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.codition-red {
    background-color: #f00;
}

.codition-green {
    background-color: #0f0;
}

.small-media-object{
    width: 40px;
    height: 40px;
}
.inner_comments_box{
    margin: 10px 0px;
    padding-top:10px;
    border:1px solid #eee;
    border-radius: 5px;
}

.inner_comment_dialog_box{
    /*background-color: #8c8c8c;*/
}

.inner_comment_dialog_box .btn{
    margin: 10px 0px;
}

.comment_operate_menu .my_icon{
    font-size: 20px;
    margin-right: 5px;
    color: #999999;
    cursor: pointer;
}
.comment_operate_menu .my_icon:hover{
    color: #499ef3;
    /*background-color:#66afe9;*/
}
.comment_operate_menu .active{
    color: #499ef3;
    /*background-color:#66afe9;*/
}
.custom_hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.notice_info{
    font-size: 15px;
    font-weight: normal;
    color: #999;
    /*float: right;*/
}
.notice_desc{
    font-size: 16px;
    font-weight: bolder;
}