<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/smart_parking.css">
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<div th:fragment="foot" class="my_footer">
        Copyright © 2020· CC BY-NC-SA 3.0 · 智慧停车管理系统-WEB端 · 服务器: 阿里云 · 网站程序: WeCenter · 备案号：湘ICP备66666666号 · By hfq
</div>
</body>
</html>