<!DOCTYPE html>
<html lang="en">
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智慧停车管理系统-停车场维护</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/smart_parking.css">
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/smart_parking.js" type="application/javascript"></script>

</head>

<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container">

    <div class="media" th:each="parkinglot: ${parkinglots}">
        <div class="media-left">
            <a href="#">
                <img class="media-object" style="width: 200px"  th:src="${parkinglot.picurl}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading"><span class="glyphicon glyphicon-map-marker"></span><a th:href="@{'/parkinglot/detail/'+${parkinglot.id}}"><span th:text="${parkinglot.name}">杭州电子科技大学-停车场</span></a></h2>
            <span class="parkinglot_info_span"><span class="parkinglot_info_item">地址：<span class="parkinglot_info" th:text="${parkinglot.address}"></span></span></span>
            <span class="parkinglot_info_span"><span class="parkinglot_info_item">总车位：<span th:text="${parkinglot.capacity}"></span></span></span>
            <span class="parkinglot_info_span"><span class="parkinglot_info_item">可用车位：<span th:text="${parkinglot.available}"></span></span></span>
        </div>
        <hr>
    </div>

</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>