<!DOCTYPE html>
<html lang="en">
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智慧停车管理系统-发布公告</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2>发布公告<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h2>
            <hr>
            <form action="">
                <div class="form-group">
                    <label for="title">公告标题：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="公告标题（15字以内）">
                </div>
                <div class="form-group">
                    <label for="title">公告详情：</label>
                    <textarea  class="form-control" name="descritption" id="descritption" cols="30" rows="10"  placeholder="公告详情（140字以内）"></textarea>
                    <!--<textarea type="text" class="form-control" id="title" name="title" placeholder="公告详情（140字以内）">-->
                </div>
                <!--<div class="form-control">-->
                <button type="button" class="btn btn-success">发布公告</button>
                <!--</div>-->

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>公告发布指南</h3>
            ● 公告标题： 请用简短的语言概括公告主题，要求在15字内 <br> <br>
            ● 公告详情： 请填入公告具体内容，要求在140字内 <br>
            <br><br>
            注：成功发布的公告将发送给全体已预约本停车场的用户。
        </div>

    </div>
</div>
</body>
</html>