<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智慧停车管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/smart_parking.css">
    <script src="/js/jquery.js" type="application/javascript"></script>
    <script src="/js/echarts.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/jquery.pagination.js"></script>
    <script src="/js/smart_parking.js"></script>
    <script src="/js/jquery-ui.js"></script>

</head>
<body>
<!--https://www.cnblogs.com/sweeeper/p/11957165.html-->

<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-8">
            <div>

                <button type="button" class="btn btn-success pull-right" onclick="drawLeftLine()">生成折线图</button>
                <h3>历史停车数据</h3>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" th:text="${startDate}+' 停车数据'"></div>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>订单号</th>
                        <th>车牌号</th>
                        <th>预约时间</th>
                        <th>收费</th>
                        <th>开始日期</th>
                        <th>开始小时</th>
                        <th>结束日期</th>
                        <th>结束小时</th>
                    </tr>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.carid}"></td>
                        <td th:text="${order.appointtime}"></td>
                        <td th:text="${order.charge}"></td>
                        <td th:text="${order.startdate}"></td>
                        <td th:text="${order.starthour}"></td>
                        <td th:text="${order.enddate}"></td>
                        <td th:text="${order.endhour}"></td>


                    </tr>
                </table>
            </div>
            <nav aria-label="Page navigation" class="navbar-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a th:href="@{'/visualize?page='+${i}}" th:each="i:${#numbers.sequence(1,pageNum)}" th:text="${i}" name="page"></a></li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--<div class="M-box"></div>-->

            <!--<script>-->
                <!--$('.M-box').pagination({-->
                    <!--callback: function (api) {-->
                        <!--$('.now').text(api.getCurrent());-->
                    <!--}-->
                <!--}, function (api) {-->
                    <!--$('.now').text(api.getCurrent());-->
                <!--});-->
            <!--</script>-->
        </div>

        <div class="col-lg-4">
            <h3>可视化</h3>
            <!--<img src="https://img2018.cnblogs.com/blog/712416/201911/712416-20191129131849517-1333294750.png" alt="">-->
            <div id="echart"></div>

        </div>
    </div>

</div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>